/* Circle Names */
.mySpan {
  height: 28px;
  width: 32px;
  border: 2px solid white;
  text-align: center;
  margin: 0;
  display: inline-block;
}
.sp1 {
  background-color: rgba(2, 117, 216, 0.65);
}

.sp2 {
  position: relative;
  right: 12.5px;
  background-color: rgba(2, 117, 216, 0.85);
}

.sp3 {
  position: relative;
  right: 25px;
  background-color: rgba(2, 117, 216, 1);
}
/* -------------------- */

.logo {
   width: 40px;
}

.ui-tooltip {
  /* tooltip container box */
  white-space: pre-line;
}

.ui-tooltip-content {
  /* tooltip content */
  white-space: pre-line;
}

